<app-footer></app-footer>

<!-- Data Binding -->

  <!-- Interpolacao. Forma de usar dados de variáveis no html -->
    {{ name }}
    
    <!-- Property Binding. Usar o "[]" ao redor da source significa que o endereco 
    a ser passado vai ser uma variavel
    <img [src]="randomUrl" />  tirar essa linha do bloco comentario vai mostrar uma foto 
    -->
    
    <p></p>
    
    
    <!-- Event Binding. Usando "()" ao redor da funcao "click" faz o valor ser lido como JavaScript 
    (tem o mesmo uso da funcao onclick). -->
    <!-- One- way Binding-->
    
    <button (click)="teste()">Clica em mim</button>
    
    <!-- Two way Bindingm-->
     <!-- Fazendo com que a contagem fique dinamica e apareca na tela atualizando o valor-->   
     <p></p>
    {{ name1() }}
    
    <button (click)="contagem()">Clica em mim</button>


    <!-- Forma de usar condicionais sem importar o "CommonModule"-->
    @if (value) {
      <h2>O numero é: {{cont()}}</h2>
    }

    <!-- Forma usando "*ngIf" e importando "CommonModule" -->
    <h2 *ngIf="value"> Usando ngIf</h2>

    <!-- Usando "for" para iteração de uma array/lista-->
      @for (item of lista; track lista) {
        <p>{{item}}</p>
      }
      <!-- Condição do que mostrar para caso a lista esteja vazia-->
      @empty {
        <p>Vazio</p>
      }

    