.post-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1c003a;
}

.example-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mat-mdc-error-0,
.mat-error {
  color: #c0003b; /* Change the error message text color */
}
.bts {
  margin: 5px;
}

.mat-mdc-list-item-icon {
  transform: scale(2);
  margin: 2%;
}

.posts-header {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}


.titlePost {
  font-size: 20px;
  color: rgb(233, 224, 228);
}

.infoPost {
  font-size: 12px;
  color: rgb(233, 224, 228);
}

.card {
  background-color: #af80e0;
}

.inputPost {
  width: 60vw; /* Double the width of the input field */
}

ul {
  list-style-type: none; /* Remove the bullet points from the list items */
  padding: 0; /* Remove default padding */
}

li {
  list-style-type: none; /* Ensure list items do not have bullet points */
}
